{% extends 'shop/basic.html' %}

{% block title%} {{product.product_name}} - My Awesome Cart{% endblock %}

{% block css %}
.star {
    color: gray;  /* Default color for unrated stars */
    font-size: 20px;
}

.star.rated {
    color: yellow;  /* Color for rated stars */
}

#rating-container {
    font-size: 24px;
    margin-top: 10px;
}

#rating-container span {
    cursor: pointer;
}

#rating-container .star {
    margin-right: 5px;
}

#rating-container .rated {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

{% endblock %}

{% block body %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <img src="/media/{{product.image}}" width="233px" height="385px">
            </div>
            <div class="row mt-3">
                <button class="btn btn-primary mx-3">Buy Now</button>
                <button class="btn btn-primary cart">Add To Cart</button>
            </div>
        </div>

        <div class="col-md-8">
            <h5>{{product.product_name}}</h5>
            <p><b>Rs.{{product.price}} </b></p>
            <p>{{product.desc}}</p>

            <!-- Display average rating -->
            <p>Average Rating: {{ average_rating|default:"Not yet rated"|floatformat:"1" }}</p>

            <!-- Display stars for rating -->
            <div id="rating-container">
                {% for i in "12345" %}
                    <span class="star {% if average_rating and i|add:"0" <= average_rating %}rated{% endif %}">&#9733;</span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    console.log('working');

    if(localStorage.getItem('cart') == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
        document.getElementById('cart').innerHTML = Object.keys(cart).length;
    }

    $('.cart').click(function() {
        console.log('clicked');
        var idstr = this.id.toString();
        console.log(idstr);
        if (cart[idstr] != undefined) {
            cart[idstr] = cart[idstr] + 1;
        } else {
            cart[idstr] = 1;
        }
        console.log(cart);
        localStorage.setItem('cart', JSON.stringify(cart));
        document.getElementById('cart').innerHTML = Object.keys(cart).length;
    });

<!--    $('#popcart').popover();-->
<!--    document.getElementById("popcart").setAttribute('data-content', '<h5>Cart for your items in my shopping cart</h5>');-->
</script>
{% endblock %}
